<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Panel Paciente</title>
    <%- include('imports/imports') %>
</head>
<body>
    <header>
        <%-include('parcial/nav',{logo:true,titulo:true, value:'Administrador', menu:true, tipoUser: rol})%>
    </header>
    <main>
        <div class="tContainer">
            <div class="r">
                <div class="c4" id="datos-paciente">
                    
                        <div class="tContainer">
                            <div class="r">
                                <div class="c3 f-column">
                                    <h2>Datos del Paciente</h2>
                                    <input type="hidden" id="rol" value="<%=rol%>">
                                    <form action="" id="frm-datos-paciente" class="f-column">
                                        <input type="hidden" id="id_persona" value="<%= persona.id_persona %>">
                                        <input type="text" id="nombre" value="<%= persona.nombre %>">
                                        <input type="text" id="apellido" value="<%= persona.apellido %>">
                                        <input type="date" id="fecha_nacimient" value="<%= persona.fecha_nacimient%>">
                                        <input type="text" id="genero" value="<%= persona.genero %>">

                                        <% if(persona.genero=="f"||persona.genero=="F"){
                                            %>
                                            <div id="CheckEmbarazada">
                                                <label >
                                                    <input type="checkbox" name="embarazada" value="Embarazada" id="embarazada" checked="<% if(persona.embarazada){
                                                        %> true <%
                                                    }  else{
                                                        %> false <%
                                                    } %>">
                                                    embarazada
                                               </label>

                                            </div>
                                            
                                            <%
                                        } %>
                                        
                                        <select name="provincia" id="provincia">
                                            <option value="<%= persona.provincia %>"><%= persona.provincia %></option>
                                            <option value="Buenos Aires">Buenos Aires</option>
                                            <option value="Catamarca">Catamarca</option>
                                            <option value="Chaco">Chaco</option>
                                            <option value="Chubut">Chubut</option>
                                            <option value="Córdoba">Córdoba</option>
                                            <option value="Corrientes">Corrientes</option>
                                            <option value="Entre Ríos">Entre Ríos</option>
                                            <option value="Formosa">Formosa</option>
                                            <option value="Jujuy">Jujuy</option>
                                            <option value="La Pampa">La Pampa</option>
                                            <option value="La Rioja">La Rioja</option>
                                            <option value="Mendoza">Mendoza</option>
                                            <option value="Misiones">Misiones</option>
                                            <option value="Neuquén">Neuquén</option>
                                            <option value="Río Negro">Río Negro</option>
                                            <option value="Salta">Salta</option>
                                            <option value="San Juan">San Juan</option>
                                            <option value="San Luis">San Luis</option>
                                            <option value="Santa Cruz">Santa Cruz</option>
                                            <option value="Santa Fe">Santa Fe</option>
                                            <option value="Santiago del Estero">Santiago del Estero</option>
                                            <option value="Tierra del Fuego">Tierra del Fuego</option>
                                            <option value="Tucumán">Tucumán</option>
                                        </select>
                                        <input type="text" id="ciudad" value="<%= persona.ciudad %>">
                                        <input type="text" id="direccion" value="<%= persona.direccion %>">
                                        <input type="text" id="tel" value="<%= persona.tel %>">
                                        <input type="text" id="email" value="<%= persona.email %>">
                                        <button type="submit">Actualizar</button>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    
                </div>
            </div>
            <div class="r">
                <div class="c4 f-column">
                    <div class="r">
                        <div class="c1"><h2>Ordenes del paciente</h2></div>
                        <div class="c1"><a href="/page-create-orden/<%= persona.id_persona %>/<%=rol%>"><button>Crear Orden</button></a></div>
                        <div class="c1"></div>
                        <div class="c1"></div>
                    </div>
                    <%let cont=0;%>
                    <%let contExa=0;%>
                        <%
                        ordenes.forEach(o=>{
                            %>
                            <div class="r">
                                <div class="ordenItem f-row" style=" display: flex; justify-content: space-between;">
                                    
                                  
                              
                                        <!-- El arreglo o.cambioEstado no está vacío -->
                                        <span class="c1 r f-column">  <% if(resOrd[cont].ultimoCambio && o.id_orden === resOrd[cont].ultimoCambio.id_orden) { %>
                                            <%= resOrd[cont].ultimoCambio.estado.nombre %>
                                        <% } %></span> 
                                      
                                 <span class="c1 r f-column">
                             <%examen.forEach(ex=>{%>
                                <%if(o.id_orden === ex.id_orden){%>
                                  
                                    <% if(resOrd2[contExa].ultimoCambioExa.id_estado === 5 && resOrd2[contExa].ultimoCambioExa.id_estado != 'null') { %>
                                        <div class="r"> <strong style="color: limegreen;"><%= ex.analisis.descripcion%></strong></div>
                                        
                                        <%} else if(resOrd2[contExa].ultimoCambioExa.id_estado === 4 && resOrd2[contExa].ultimoCambioExa.id_estado != 'null') { %>
    <div class="r"> <strong style="color: rgb(190, 205, 50);"><%= ex.analisis.descripcion%></strong></div>
    <%} else if(resOrd2[contExa].ultimoCambioExa.id_estado === 3 && resOrd2[contExa].ultimoCambioExa.id_estado != 'null') { %>
        <div class="r"> <strong style="color: rgb(170, 120, 11);"> <%= ex.analisis.descripcion%></strong></div>
        <%} else if(resOrd2[contExa].ultimoCambioExa.id_estado === 2 && resOrd2[contExa].ultimoCambioExa.id_estado != 'null') { %>
            <div class="r"> <strong style="color: rgb(192, 99, 56);"> <%= ex.analisis.descripcion%></strong></div>
            <%} else if(resOrd2[contExa].ultimoCambioExa.id_estado === 1 && resOrd2[contExa].ultimoCambioExa.id_estado != 'null') { %>
                <div class="r"> <strong style="color: rgb(224, 34, 21);"> <%= ex.analisis.descripcion%></strong></div>
                <%} %>                                        
<%}%>  
    <%contExa++;%>
                                <%})%>
                                 </span> 
                                    <%if(o.estado){%>
                                       <span class="c1 r f-column"><%=  o.fecha_creacion  %></span>    
                                    <span class="c1 r f-row" >
                                        
                                        <a href="/orden/orden-id/<%= o.id_orden%>/<%=rol%>"><img src="/images/ver.png" alt=""></a>
                                       
                                       
                                    </span>
                                     <%  } else {%>
                                         <h2 style="width: 150px; font-size: 15px;color:white; background-color: brown;text-align: center;border: 3px solid black; border-radius: 10px;">Orden Cancelada</h2>
                                        <span class="c1 r f-row">
                                           
                                            <a href="/orden/orden-id/<%= o.id_orden%>/<%=rol%>"><img src="/images/ver.png" alt=""></a>
                                            </span>
                                            <%}%>
                                </div>
                            </div>
                             <%cont++;%>
                             <%contExa=0;%>
                            <%
                           
                        })
                    %>
                   
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </main>
    <script type="module" src="/js/actualizarPaciente.js"></script>

    <footer></footer>

</body>
</html>