
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('imports/imports')%>
<script src="/socket.io/socket.io.js"></script>
    <title></title>
    <style>

body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .chat-container {
            position: fixed;
            bottom: 20px;
            right: 20px;
            max-width: 350px;
            margin: 20px auto;
            background-color: #e9e5e5;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: all 0.3s ease;
            transform: translateY(100%);
        }

        .chat-header {
            background-color: #0c9fb9;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .chat-messages {
            height: 200px;
            overflow-y: auto;
            padding: 10px;
        }

        .chat-message {
            margin-bottom: 10px;
        }

        .message-sender {
            font-weight: bold;
            color: #4267b2;
        }

        .message-text {
            background-color: #f2f2f2;
            padding: 8px;
            border-radius: 5px;
        }

        .chat-input {
            display: flex;
            margin-top: 10px;
        }

        .chat-input input[type="text"] {
            flex: 1;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ddd;
            margin-right: 5px;
        }

        .notification-countB {
            position: absolute;
            top: 8px;
    left: 270px;
      
            background-color: #ff0000;
            color: #fff;
            border-radius: 50%;
            padding: 0px 5px;
   
    
}
        .resaltado {
  background-color: rgb(255, 72, 0); /* Puedes usar cualquier color o estilo que prefieras */
}
table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .resaltado {
        background-color: rgb(255, 72, 0);
        /* Puedes usar cualquier color o estilo que prefieras */
    }
    
    </style>
</head>
<body>
    <header>
        <%- include('parcial/nav',{logo:true,titulo:true, value: rol, menu:true, tipoUser: rol}) %>
    </header>
    <main>
        <div class="tContainer">
            <div class="r">
                <div class="c4 f-column border-on">
                    <div class="r">
                      <div class="r" style=" display: flex; justify-content: space-between;border-bottom: 1px solid #000; ">   
                
                     
                        <div class="c2" style="width: auto; padding-left: 10px;"> <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Paciente: <%= orden.pedido.persona.nombre + " "+ orden.pedido.persona.apellido%></h2>  </div>
                        <div class="c1" style="width: auto;padding-right: 10px;"> <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">DNI: <%= orden.pedido.persona.dni %></h2> </div>
                        <div class="c1" style="width: auto; padding-right: 10px;"> <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Fecha: <%= orden.fecha_creacion.toISOString().slice(0,10)   %> </h2></div>
                        <div class="c4" style=" padding-left: 10px; padding-right: 10px; display: flex; justify-content: space-between;"> <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Edad: <%= orden.pedido.persona.dataValues.edad %></h2>
                        <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sexo: <%= orden.pedido.persona.dataValues.genero %></h2> 
                       </div>
                       
                   
                       </div>
                        <h1>Resultados de Exámen </h1>
                    </div>
                    <div class="r">
                       <div class="c4 f-column">
                        <% let examenMostrado = false; %>

                        <% resultados.forEach(resultado => { %>
                          <% if (resultado.dataValues.descripcion && !examenMostrado) { %>
                            <h2><%= resultado.dataValues.descripcion %></h2>
                            <% examenMostrado = true; %>
                          <% } %>
                          <% }); %>
  
                        <% if (resultados.length > 0) { %>
                          <table>
                            <tr>
                              
                              <th>Determinacion</th>
                              <th>Resultado</th>
                              <th>Unidad de Medida</th>
                              <th>Valor Máximo</th>
                              <th>Valor Mínimo</th>
                            
             
                            </tr>
                      
                            <% resultados.forEach(resultado => { %>
                             
                                <tr>
                                  <td><%= resultado.dataValues.Determinacion %></td>
                                  <td <% if (resultado.dataValues.Valor > resultado.val_max) { %>class="resaltado"<% } %>><%= resultado.dataValues.Valor %></td>
                                 <td><%= resultado.determinacion.unidad_medida %></td>
                                  <td><%= resultado.val_max %></td>
                                  <td><%= resultado.val_min %></td>
                                
                                  
                                  <input type="hidden" id="id_orden" value="<%= resultado.dataValues.idOrden %>">
                                  <input type="hidden" id="id_examen" value="<%= resultado.dataValues.id_examen %>">
                              </tr>
                            
                            <% }); %>
                          </table>
                        <% } else { %>
                          
                          <p>No se encontraron resultados. </p>
                        
                        <% } %>
                      
                       </div>
                    </div>
                    <div class="r border-on ">
                      <%if(rol== 'Bioquimico'){%>
                        <div class="c2">
                          
                         <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">Resultados: </span> 
                           <select name="" id="exaResult" style="width: 150px; height: 30px; font-size: 17px;">
                            <option value="reactivo">Reactivo</option>
                            <option value="no reactivo">No Reactivo</option>
                           </select>

                        </div>
                        <div class="c2">
<span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">Descripcion: </span>
<input type="text" id="exaDescripcion" maxlength="199"style=" height: 30px; font-size: 17px;">

                        </div>
                       <%}else if(rol== 'Administrador'){%>
                         
                        <% if (resultados && resultados.length > 0) { %>
                          <% for (let i = 0; i < 1; i++) { %>
                              <% if (resultados[i].dataValues.resultado != null) { %>
                                  <div class="c2">
                                      <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">Resultados: <%= resultados[i].dataValues.resultado %></span>
                                  </div>
                                  <div class="c2">
                                      <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">Descripción: <%= resultados[i].dataValues.descripcionB %></span>
                                  </div>
                              <% } %>
                          <% } %>
                      <% } else { %>
                          <p>No hay resultados disponibles</p>
                      <% } %>
                      
                        
                          <%}%>
                    </div>
                     
                </div>
            </div>
            <div class="r">
              <%if(rol === "Bioquimico"){%>
              <div class="c1"><button id="verificar">Verificar</button></div>
                <div class="c1"><button id="btnInformar">Informar</button></div>
                <div class="r c4" style="top:40px;">
                    <!--const {nombre, apellido} = req.query;-->
                                 <div class="chat-container" id="chatContainer" >
                                   <div class="chat-header" onclick="toggleChat()">
                                       Chat Laboratorio
                                       <div class="notification-countB" id="notificationCountB">0</div>
                                   </div>
                                   <div class="chat-messages" id="chat"></div>
                                   <div class="chat-input">
                                       <input type="hidden" id="nombreInput" value="<%=nombre%>">
                                       <input type="hidden" id="apellidoInput" value="<%=apellido%>">
                                       <input type="text" id="mensajeInput" placeholder="Mensaje">
                                       
                                   </div>
                                   <button onclick="enviarMensaje()">Enviar</button>
                               </div>
                <%}%>
            </div>
          
            </div>
        </div>
    </main >
    <input type="hidden" id="nombreI" value="<%=nombre%>">
    <input type="hidden" id="apellidoI" value="<%=apellido%>">
    <footer>  </footer>
    <script type="module" src="/js/cambioEstadobtn.js"></script>
    <script>
      var notificationCountB = 0; // Asegúrate de inicializar la variable notificationCountB
  
      function toggleChat() {
          var chatContainer = document.getElementById('chatContainer');
          if (chatContainer.style.transform === 'translateY(100%)') {
              chatContainer.style.transform = 'translateY(0)';
              notificationCountB = 0; // Restablece el contador de notificaciones
              document.getElementById('notificationCountB').innerText = ''; // Limpia el texto del contador
          } else {
              chatContainer.style.transform = 'translateY(100%)';
          }
      }
  
      const socket = io();
      socket.on('mensaje', (mensajeCompleto) => {
          const nombreUsuario = document.getElementById('nombreInput').value;
      const [nombreRemitente] = mensajeCompleto.split(':'); // Obtener el nombre del remitente del mensaje
      if (nombreRemitente.trim() !== nombreUsuario.trim()) { // Verificar si el remitente es diferente al usuario actual
          // Incrementa el contador de notificaciones solo si el remitente es diferente al usuario actual
          notificationCountB++;
          document.getElementById('notificationCountB').innerText = notificationCountB; // Actualiza el texto del contador
      }});
  
      function enviarMensaje() {
          const nombre = document.getElementById('nombreInput').value;
          const mensaje = document.getElementById('mensajeInput').value;
          const mensajeCompleto = `${nombre}: ${mensaje}`;
          socket.emit('mensaje', mensajeCompleto);
          document.getElementById('mensajeInput').value = '';
      }
  
      socket.on('mensaje', (mensaje) => {
          const chatDiv = document.getElementById('chat');
          const mensajeDiv = document.createElement('div');
  
          mensajeDiv.textContent = mensaje;
          chatDiv.appendChild(mensajeDiv);
      });
  </script>
</body>
</html>